openapi: 3.0.3
info:
  title: Braintrust REST ACL Organization API
  description: The Braintrust REST API for building, evaluating, and observing AI applications. The API is organized around REST, uses predictable resource-oriented URLs under https://api.braintrust.dev/v1, accepts and returns JSON, and authenticates with a Bearer API key. This specification covers the core documented resource surface - projects, experiments, datasets, logs/spans, prompts, functions and scorers, evals, project configuration, organization/ACL management, credentials, and the OpenAI-compatible AI proxy.
  termsOfService: https://www.braintrust.dev/legal/terms-of-service
  contact:
    name: Braintrust Support
    email: support@braintrust.dev
    url: https://www.braintrust.dev/docs
  version: '1.0'
servers:
- url: https://api.braintrust.dev
  description: US data plane (default)
- url: https://api-eu.braintrust.dev
  description: EU data plane
security:
- bearerAuth: []
tags:
- name: Organization
paths:
  /v1/organization:
    get:
      operationId: getOrganization
      tags:
      - Organization
      summary: List organizations
      parameters:
      - $ref: '#/components/parameters/Limit'
      - name: org_name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Returns a list of organizations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/organization/members:
    patch:
      operationId: patchOrganizationMembers
      tags:
      - Organization
      summary: Modify organization membership
      description: Add or remove members from an organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org_id:
                  type: string
                  format: uuid
                org_name:
                  type: string
                invite_users:
                  type: object
                  additionalProperties: true
                remove_users:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Empty'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/user:
    get:
      operationId: getUser
      tags:
      - Organization
      summary: List users
      parameters:
      - $ref: '#/components/parameters/Limit'
      - name: email
        in: query
        schema:
          type: string
      - name: org_name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Returns a list of users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        given_name:
          type: string
          nullable: true
        family_name:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true
        created:
          type: string
          format: date-time
          nullable: true
    Error:
      type: object
      properties:
        error:
          type: string
          description: A human-readable error message.
    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        api_url:
          type: string
          nullable: true
        proxy_url:
          type: string
          nullable: true
        created:
          type: string
          format: date-time
          nullable: true
  responses:
    Unauthorized:
      description: Authentication failed - missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Empty:
      description: Success.
      content:
        application/json:
          schema:
            type: object
  parameters:
    Limit:
      name: limit
      in: query
      description: Limit the number of objects to return.
      schema:
        type: integer
        minimum: 0
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key or JWT
      description: 'Authenticate requests with your Braintrust API key in the Authorization header, e.g. `Authorization: Bearer $BRAINTRUST_API_KEY`.'
